.set-width-full {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .set-width-half {
    max-width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .set-width-half-2 {
    max-width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .set-width-thirds {
    max-width: 30%;
  }
}

/* resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1rem;
}

.btn {
  max-width: 100%;
  background-color: #FF99AF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
  color: white;
}
a:hover {
  color: #E31B6D;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: Raleway-Italic;
  src: url(/fonts/Raleway-Italic-VariableFont_wght.ttf);
}
html {
  scroll-behavior: smooth;
}

#landing-page {
  height: 100vh;
  width: 100%;
  background-image: url("/src/assets/images/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
#landing-page .intro-text {
  margin-top: calc(100vh / 2.3);
}
#landing-page .intro-text h1 {
  font-size: 3.2rem;
  color: #293042;
}
#landing-page .lower-arrow-container {
  text-align: center;
  margin-top: calc(100vh / 2.2);
}
#landing-page .lower-arrow-container i {
  color: #293042;
  font-size: 2.5rem;
}

#application {
  margin-left: 100px;
  margin-right: 100px;
  height: 100vh;
}
#application h1 {
  padding-top: 50px;
}

.form-wrapper {
  border-width: 3px;
  border-style: solid;
  border-color: #293042;
  padding: 30px;
  font-size: 1rem;
  margin-top: 50px;
}
.form-wrapper input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #293042;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  background-color: rgba(28, 110, 164, 0);
  border-width: 2px;
  border-style: solid;
  border-color: #293042;
}
.form-wrapper input[type=text]:focus {
  border-width: 2px;
  border-style: solid;
  outline: none;
  border-color: #E31B6D;
}
.form-wrapper input[type=submit] {
  max-width: 100%;
  background-color: #FF99AF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-wrapper input[type=submit]:hover {
  background-color: #FF99AF;
}

.image-display-wrapper {
  border-width: 3px;
  border-style: solid;
  border-color: #293042;
  padding: 30px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image-display-wrapper .tile {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 20px;
}
.image-display-wrapper .tile img {
  max-width: 100%;
  max-height: 100%;
}
.image-display-wrapper .tile:hover {
  opacity: 0.8;
}

.btn:hover:hover {
  background-color: #E31B6D;
}

.selected {
  border-style: solid;
  border-color: pink;
  border-width: 5px;
}
/*# sourceMappingURL=main.css.map */
