// This file should contain all basic button styling, if you need more customization you can add more
// using a component maybe


//
//styling mixins
//

@mixin btn-default {
    max-width: 100%;
    background-color: $Baker-Miller-Pink;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@mixin input-box-default {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid $Raisin-Black;
    border-radius: 4px;
    box-sizing: border-box;
}


//buttons 

.btn {
    @include btn-default;
}

